/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* A video explaining why box-sizing should be set to border-box */
/* https://www.youtube.com/watch?v=WlGQdgy-M6w */

/* Remove default margin */
*{
  margin: 0;
  padding : 0;
  /* font: inherit;   */
  }
  
/* The font inherit property sets every font to have one size and one weight
any heading tag would look the sane as a normal text, this forces the user to
use css for everything.
*/

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root{
    --header-margin:5%;
    --default-margin:3%;
    --header-font:'Montserrat', sans-serif;
    --header-color:hsl(33, 9%, 81%);
    --normal-font:'Montserrat', sans-serif;
    --bg-color:#131516;
    --font-color:hsl(0, 0%, 100%);
    --border-color:hsl(0, 0%, 52%);
    --default-border-radius: 8px;
    --default-shadow:0px 8px 12px;
    --col-btn-shadow:0px 4px 8px;
    --nav-height:100px;
    --delete-color:#fe2323;
    --submit-color:#4fe778;
    --footer-height: 10vh;
    --footer-color: #767676;
}

::-webkit-scrollbar-track {
    border: 5px solid white;
    /* //border color does not support transparent on scrollbar */
    border-color: transparent;
    background-color: #b2bec3;
    margin-block: 0.5em;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar {
    width: 5px;
    /* background-color: #dfe6e9; */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #80838d;
    border-radius: 100vw;
  }


*{
    font-family: var(--normal-font);
    font-weight: 400;
}
body{
    background-color: var(--bg-color);
    color: #fefefe;
    flex-direction: column;
    color: var(--font-color);
    display: flex;
}

nav{
    margin: var(--default-margin) var(--header-margin) 0 var(--header-margin);
    height: var(--nav-height);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav > h1{
    font-family: var(--header-font);
    font-size: 2.4rem;
    font-weight: 400;
}

footer{
    position: fixed;
    z-index: 3;
    bottom: 0;
    height: var(--footer-height);
    width: 100vw;
    right: 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 1rem;
    margin-right: 1rem;
    align-items: center;
    justify-items: flex-end;
}

footer p{
    text-align: center;
    color: var(--footer-color);
    visibility: hidden;
}

.footer-btn-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-btn-div label{
    width: 14ch;
    padding-left: 5px;
}

.footer-btn-div input{
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.footer-btn-div button{
    width: 16ch;
}

#nav-btn{
    display: none;
}
 
button{
    background-color: var(--bg-color);
    padding: .6rem 1rem;
    border-radius: var(--default-border-radius);
    border: 1px solid var(--border-color);
    cursor: pointer;
    color: white;
    font-weight: 500;
}

button:hover{
    border: 1px solid white;

}

.footer-btn{
    /* display: none; */
    font-size: 1.1rem;
    margin-right: var(--default-margin);
}

.footer-btn:hover{
    border-color:var(--submit-color);
    /* box-shadow: var(--submit-color) var(--default-shadow); */
}

/* Setting z index for process screen and output screen */
/*  The default display state will be none */

main{
    flex-grow: 2;
    margin-left: var(--default-margin);
    margin-right: var(--default-margin);
    display: flex;
    justify-content: center;
}

/* input screen css start here */

.input-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: var(--default-margin);

}

.file-list{
    display: flex;
    min-width: 40vw;
    max-width: 70vw;
    flex-direction: column;
    gap:.5rem;
    max-height: 60vh;
    overflow-y: auto;
}

.input-screen-buttons button:last-of-type{
    margin-left: 1rem;
}

.input-screen-buttons button:hover{
    border-color: 1px solid var(--submit-color);
}

.input-screen h2{
    text-align: center;
    font-weight: 400;
}
.file-list li {
    border: 1px solid var(--border-color);
    border-radius: var(--default-border-radius);
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remove-btn{
    margin-left: 1rem;
}

.remove-btn:hover{
    border: 1px solid var(--delete-color);
}

.file-list ol {
    list-style: none;
    counter-reset: item;
  }
.file-list li {
    counter-increment: item;
  }
.file-list  li::before {
    content: counter(item);
    width: 2rem;
    text-align: center;
  }

.file-name{
    flex-grow: 3;
}


/* combine screen */
.combine-screen{
    z-index: 1;
    width: 100vw;
    display: none;
    justify-content: space-between;
    margin-bottom: var(--footer-height);
}

.combine-screen > *{
    width: 100%;
}
.user-input{
    counter-reset: input-count;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
    padding: 0 1rem 1rem 1rem;
    height:70vh;
    overflow-y: auto;
}

.user-input h2{
    position: -webkit-sticky;
    top:0;
    position: sticky;
    /* height: fit-content; */
    margin-bottom: .5rem;
    background: var(--bg-color);
}

#col-add-btn-container{
    display: grid;
    grid-template-columns: 42% 42% 16%;
    gap: 1rem;
}

#col-add-btn-container > div{
    grid-column: span 2;
    text-align: center;
    margin-top: 1rem;
}

#col-add-btn-container button:hover{
    border: 1px solid white;
}

.col-in-out-container{
    counter-increment: input-count;
    border: 1px solid var(--border-color);
    border-radius: var(--default-border-radius);
    padding: 1rem;
    display: grid;
    grid-template-columns: 2% 38% 38% 16%;
    gap: 1rem;
}

.col-in-out-container::before{
    content: counter(input-count);
    align-self: center;

}

.col-inp-rm-btn:hover{
    border: 1px solid var(--delete-color);
}

.col-in-out-container > .output-column, .input-columns{
    border-radius: var(--default-border-radius);
    color: white;
    background-color: transparent;
    border: 1px solid var(--border-color);
    padding: .2rem 1rem;
}


#columns-info-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#columns-info-container h2{
    padding-left: 1rem;
}


#all-columns-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    align-content: flex-start;
}

#similar-btn{
    border-radius: 16px;
    border: 1px solid hsl(277, 100%, 66%);
}

.col-btn{
    transition-property: box-shadow;
    transition-delay: 1500ms;
}

.col-btn:hover{
    box-shadow: var(--col-btn-shadow) white;
}

#all-columns-container button:hover{
    border: 1px solid white;
}

.all-columns-header{
    display: flex;
    gap: 1rem;
    margin-bottom: .5rem;
}

.all-columns-header button{
    font-size: .8rem;
    font-weight: 500;
}

#column-info{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

#column-info h3{
    display: inline-block;
    padding: .2rem 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--default-border-radius);
    margin-left: 1rem;
}

#column-info ol{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: flex-start;
    padding: 1.5rem;
    counter-reset: item;
}
#column-info li{
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    counter-increment: item;
    width: 100%;
}

#column-info li > button{
    margin-left: auto;
}

#column-info li::before{
    content: counter(item);
    width: 1rem;
}

#column-info button{
    margin: .7rem 1rem;
}

#output-screen{
    z-index: 2;
    display: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-file-li{
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
}
